services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: factorial-cal-services
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management-alpine
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"   # AMQP port
      - "15672:15672" # Management UI
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # migrate:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.migrate
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #   environment:
  #     - SERVER_PORT=:8080
  #     - DB_USER=postgres
  #     - DB_PASSWORD=password
  #     - DB_HOST=postgres
  #     - DB_PORT=5432
  #     - DB_NAME=factorial-cal-services
  #     - DB_SSLMODE=disable
  #     - RABBITMQ_USER=guest
  #     - RABBITMQ_PASSWORD=guest
  #     - RABBITMQ_HOST=rabbitmq
  #     - RABBITMQ_PORT=5672
  #     - FACTORIAL_CAL_SERVICES_QUEUE_NAME=factorial-cal-queue
  #     - SWAGGER_HOST=api:8080
  #     - RABBITMQ_CA=
  #     - REDIS_HOST=redis
  #     - REDIS_PORT=6379
  #     - REDIS_PASSWORD=
  #     - MAX_FACTORIAL=10000
  #     - REDIS_THRESHOLD=10000
  #     - WORKER_BATCH_SIZE=100
  #     - WORKER_MAX_BATCHES=16
  #     - AWS_REGION=us-east-1
  #     - S3_BUCKET_NAME=factorial-cal-services
  #     - STORAGE_TYPE=s3
  #     - QUEUE_TYPE=rabbitmq
  #   restart: "no"
  #   env_file:
  #     - .env

  # api:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.api
  #   container_name: factorial-cal-services-api
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #     redis:
  #       condition: service_healthy
  #     rabbitmq:
  #       condition: service_healthy
  #     migrate:
  #       condition: service_completed_successfully
  #   environment:
  #     - SERVER_PORT=:8080
  #     - DB_USER=postgres
  #     - DB_PASSWORD=password
  #     - DB_HOST=postgres
  #     - DB_PORT=5432
  #     - DB_NAME=factorial-cal-services
  #     - DB_SSLMODE=disable
  #     - RABBITMQ_USER=guest
  #     - RABBITMQ_PASSWORD=guest
  #     - RABBITMQ_HOST=rabbitmq
  #     - RABBITMQ_PORT=5672
  #     - FACTORIAL_CAL_SERVICES_QUEUE_NAME=factorial-cal-queue
  #     - SWAGGER_HOST=api:8080
  #     - RABBITMQ_CA=
  #     - REDIS_HOST=redis
  #     - REDIS_PORT=6379
  #     - REDIS_PASSWORD=
  #     - MAX_FACTORIAL=10000
  #     - REDIS_THRESHOLD=10000
  #     - WORKER_BATCH_SIZE=100
  #     - WORKER_MAX_BATCHES=16
  #     - AWS_REGION=us-east-1
  #     - S3_BUCKET_NAME=factorial-calculator-service
  #     - STORAGE_TYPE=s3
  #     - QUEUE_TYPE=rabbitmq
  #   ports:
  #     - "8080:8080"
  #   restart: unless-stopped
  #   env_file:
  #     - .env

  # worker:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.worker
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #     redis:
  #       condition: service_healthy
  #     rabbitmq:
  #       condition: service_healthy
  #   environment:
  #     - SERVER_PORT=:8080
  #     - DB_USER=postgres
  #     - DB_PASSWORD=password
  #     - DB_HOST=postgres
  #     - DB_PORT=5432
  #     - DB_NAME=factorial-cal-services
  #     - DB_SSLMODE=disable
  #     - RABBITMQ_USER=guest
  #     - RABBITMQ_PASSWORD=guest
  #     - RABBITMQ_HOST=rabbitmq
  #     - RABBITMQ_PORT=5672
  #     - FACTORIAL_CAL_SERVICES_QUEUE_NAME=factorial-cal-queue
  #     - SWAGGER_HOST=api:8080
  #     - RABBITMQ_CA=
  #     - REDIS_HOST=redis
  #     - REDIS_PORT=6379
  #     - REDIS_PASSWORD=
  #     - MAX_FACTORIAL=10000
  #     - REDIS_THRESHOLD=10000
  #     - WORKER_BATCH_SIZE=100
  #     - WORKER_MAX_BATCHES=16
  #     - AWS_REGION=us-east-1
  #     - S3_BUCKET_NAME=factorial-calculator-service
  #     - STORAGE_TYPE=s3
  #     - QUEUE_TYPE=rabbitmq
  #   restart: unless-stopped
  #   deploy:
  #     mode: replicated
  #     replicas: 2
  #   env_file:
  #     - .env

  # calculate:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile.calculator
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #     redis:
  #       condition: service_healthy
  #   environment:
  #     - SERVER_PORT=:8080
  #     - DB_USER=postgres
  #     - DB_PASSWORD=password
  #     - DB_HOST=postgres
  #     - DB_PORT=5432
  #     - DB_NAME=factorial-cal-services
  #     - DB_SSLMODE=disable
  #     - RABBITMQ_USER=guest
  #     - RABBITMQ_PASSWORD=guest
  #     - RABBITMQ_HOST=rabbitmq
  #     - RABBITMQ_PORT=5672
  #     - FACTORIAL_CAL_SERVICES_QUEUE_NAME=factorial-cal-queue
  #     - SWAGGER_HOST=api:8080
  #     - RABBITMQ_CA=
  #     - REDIS_HOST=redis
  #     - REDIS_PORT=6379
  #     - REDIS_PASSWORD=
  #     - MAX_FACTORIAL=10000
  #     - REDIS_THRESHOLD=10000
  #     - WORKER_BATCH_SIZE=100
  #     - WORKER_MAX_BATCHES=16
  #     - AWS_REGION=us-east-1
  #     - S3_BUCKET_NAME=factorial-calculator-service
  #     - STORAGE_TYPE=s3
  #     - QUEUE_TYPE=rabbitmq
  #   restart: unless-stopped
  #   deploy:
  #     mode: replicated
  #     replicas: 1
  #   env_file:
  #     - .env

volumes:
  postgres_data:
  redis_data:
  rabbitmq_data:
